/* BrandCards */

.brandHead {
  color: var(--fourth-white);
}

.brandCard {
  width: 85%;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
  padding: 40px;
}

.slick-slide {
  padding: 0 10px; /* Adjust padding to create space between slides */
}

.brandLogoContainer {
  text-align: center;
  border: 3px solid var(--boder-gray);
  font-size: 70px;
  border-radius: 12px;
  color: var(--fourth-white);
}

.brandLogo {
  /* font-size: 70px; */
}

.brandLogoContainer:hover {
  background: var(--box-card);
  color: var(--card-color);
  transition: 0.5s;
}

@media only screen and (max-width: 600px) {
  .brandHead {
    font-size: 14px;
    margin-top: 15px;
  }

  .brandCard {
    width: 100%;
    padding: 0px;
  }

  .brandLogoContainer {
    font-size: 40px;
  }
}
