.footer {
  display: flex;
  flex-wrap: wrap;
  /* background-color: gray; */
  color: var(--fourth-white);
  justify-content: space-around;
  margin-top: 80px;
  margin-bottom: 30px;
  padding: 5px;
  margin-left: 10%;
  margin-right: 10%;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-logo {
  max-width: 90%;
  height: auto;
  margin: auto;
}

.footer h3 {
  margin-bottom: 10px;
}

.footer p,
.footer ul,
.footer a {
  margin: 6px 0;
  color: var(--third-gray);
  text-decoration: none;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  display: block;
}

.footer li {
  margin: 5px 0;
}

.footer li a {
  color: var(--third-gray);
}

.footer a:hover {
  color: var(--fifth-violet);
}

.social-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  position: relative;
}
.social-links a {
  padding: 6px;
  display: inline-block;
  font-size: 20px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-color: var(--fourth-white);
  color: var(--secondery-black);
  transition: all 0.5s ease;
}

.socialIcon {
  color: var(--card-color);
}
.social-links a:hover {
  background-color: var(--secondery-black);
}

@media only screen and (max-width: 600px) {
  .footer-logo {
    width: 95%;
  }

  .footer-column h3 {
    text-align: center;
    font-size: 15px;
    padding-bottom: 5px;
    width: 60%;
    margin: auto;
    border-bottom: 2px solid var(--fifth-violet);
    margin-bottom: 25px;
    border-radius: 8px;
  }

  .footer-column ul,
  .footer-column p {
    font-size: 14px;
  }

  .social-links {
    justify-content: center;
  }
  .social-links a {
    font-size: 18px;
    padding: 5px;
  }
}
