.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid var(--fifth-violet);
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 999999;
  transition: all 0.2s ease-out;
  animation: moveCursor1 0.5s infinite alternate;
}

@keyframes moveCursor1 {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.8);
  }
}

/* Home */

.home {
  position: relative;
  display: grid;
  margin-top: 100px;
}
.hero {
  max-width: 60%;
  z-index: 999;
}

.hero h1 {
  color: var(--fourth-white);
  font-size: 75px;
  font-weight: 600;
  position: relative;
  z-index: 999;
}

.amazing {
  background: -webkit-linear-gradient(
    207deg,
    rgba(100, 72, 254, 1) 0%,

    rgba(166, 154, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dot {
  color: var(--primary-color);
}
.heroDetail {
  margin-top: 20px;
  width: 40%;
  color: var(--third-gray);
}

.heroDetail p {
  font-size: 15px;
  font-weight: 400;
}

.col-gray {
  color: var(--third-gray);
}

@media only screen and (max-width: 600px) {
  .cursor {
    display: none;
  }

  .hero {
    max-width: 100%;
  }
  .hero h1 {
    color: var(--fourth-white);
    font-size: 39px;
    font-weight: 600;
    width: 100%;
  }

  .heroDetail {
    width: 100%;
  }

  .heroDetail p {
    font-size: 10px;
    font-weight: 400;
  }

  .notbtn3 {
    font-size: 10px;
    display: inline;
    padding: 5px 10px 5px 10px;
    white-space: nowrap;
  }

  .pplCard img {
    width: 75px;
    height: 75px;
  }

  .pplCard h4 {
    font-size: 14px;
  }

  .pplCard p {
    font-size: 12px;
  }
}
