.cyberzet {
  height: auto;
  width: 160px;
  margin: 10px 0px 10px 0;
  padding: 5px 0px 5px 0px;
}

nav {
  border: 1px solid var(--boder-gray);
  margin-top: 0;
  border-left: 0;
  border-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 99999;
  position: relative;
  font-size: 15px;
  padding-right: 15px;
  padding-left: 15px;

  overflow: hidden;
  margin-left: 0;

  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.2s ease-in-out;
}

nav.scrolled {
  background-color: var(--nav-bg);
}

nav ul li a {
  color: var(--third-gray);
  font-weight: 500;
  padding: 0;
  margin: 0;
  transition: background-color 0.6s ease-in-out;
  white-space: nowrap;
}

nav.scrolled ul li a {
  color: var(--fourth-white);
}

nav ul li a:hover {
  transition: 0.1s ease-in-out;
  color: var(--fifth-violet);
  cursor: pointer;
}

nav ul .nav-item.active a {
  color: var(--fifth-violet);
  cursor: pointer;
}

.letTalk {
  background-color: var(--primary-color);
  border: none;
}

.letTalk:hover {
  background-color: var(--fifth-violet);
  transition: 0.4s;
}

.dropDown {
  font-size: 25px;
}

.dropDowmManu {
  color: var(--fourth-white);
}

.fullscreen {
  width: 100%;
  height: 100vh;
  background-color: var(--nav-bg);

  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
}

.fullscreen ul {
  flex-direction: column;
  align-items: center;
  float: left;
}

.fullscreen ul li {
  margin: 0;
}

.fullscreen ul li a {
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  nav {
    border: 1px solid var(--boder-gray);
    padding-right: 5px;
    padding-left: 5px;
  }

  .cyberzet {
    width: 130px;
    margin-left: 6px;
  }

  .letTalk {
    font-size: 11px;
  }

  .fullscreen ul {
    flex-direction: column;
    align-items: center;
    margin-top: 3.2rem;
    padding-left: 124px;
  }

  .fullscreen ul li {
    margin-top: 10px;
  }
}

body.no-scroll {
  overflow: hidden;
}

@media only screen and (max-width: 769px) {
  .nav-item a {
    font-size: 11px;
    font-weight: 500;
  }

  .nav-item {
    margin-left: 25px !important;
  }
  .cyberzet {
    width: 145px;
  }

  .letTalk {
    font-size: 12px;
  }
}
