.servHero {
  display: grid;
  width: 100%;

  margin: 50px;
  margin-left: 0;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.servCard {
  background-color: var(--card-bg);
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  border: 1px solid var(--third-gray);
}

.servLogo {
  display: inline-block;
  background-color: var(--card-bg);
  padding: 20px;
}

.servCardTitel {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
}
.servDetail {
  color: var(--third-gray);
  font-size: 15px;
}

.servNext {
  display: inline-block;
  padding: 20px;
  margin-top: 30px;
  border: 1px solid var(--third-gray);
}
