* {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #5c45fd;
  --secondery-black: #161616;
  --third-gray: #969799;
  --fourth-white: #f5f5f5;
  --fifth-violet: #a79bff;
  --boder-gray: #202020;
  --card-bg: #36353b6f;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #000000;
}

.screen {
  margin-left: auto;
  margin-right: auto;
}

.pageContainer {
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.descContain {
  width: 48%;
}
.head {
  color: var(--fifth-violet);
}

.titel {
  font-size: 32px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.desc {
  color: var(--third-gray);
  font-weight: 500;
}

.cardContain {
  /* background-color: green; */
  display: grid;
  width: 100%;
  margin: 50px;
  margin-left: 0;
  padding: 10px;
  padding-top: 10px;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.notbtn3 {
  margin-top: 16px;
  padding: 10px 25px 10px 25px;
  border: 1px solid var(--primary-color);
  z-index: 999;
  border-radius: 6px;
}

.notbtn3:hover {
  background: var(--primary-color);
  transition: 0.4s;
}
